<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="mysqlTables"    targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <!--数据库链接地址账号密码-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost/chat" userId="root" password="root"/>
        <!--指定生成的类型为java类型，避免数据库中number等类型字段 -->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成Model类存放位置-->
        <javaModelGenerator targetPackage="com.my.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成xml映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Mapper.java类存放位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.my.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--生成对应表及类名,需要记住的一点是逆向工程无法生成关联关系,只能生成单表操作-->
        <table tableName="c_user " domainObjectName="User"
                enableCountByExample="false" enableDeleteByExample="false"
                enableUpdateByExample="false" enableSelectByExample="false"></table>
        <table tableName="c_group " domainObjectName="Group"
               enableCountByExample="false" enableDeleteByExample="false"
               enableUpdateByExample="false" enableSelectByExample="false"></table>
        <table tableName="c_message" domainObjectName="Message"
               enableCountByExample="false" enableDeleteByExample="false"
               enableUpdateByExample="false" enableSelectByExample="false"></table>
        <!--<table tableName="w_bank_card " domainObjectName="BankCard"
               enableCountByExample="false" enableDeleteByExample="false"
               enableUpdateByExample="false" enableSelectByExample="false"></table>-->
    </context>
</generatorConfiguration>
